.loginRquestfields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}

.LoginTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.signUpButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.inputfield {
  width: 300px;
  margin: 10px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}
