.headerRow {
  background-color: #33c2ff;
}
table {
  width: 100%;
  border-radius: 50px;
  border: none;
  border-collapse: collapse;
  text-align: center;
}
th {
  border: none;
  padding: 10px;
}
tr {
  border-radius: 10px;
}
td {
  background-color: white;
  font-family: monospace;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .table .smalldoc {
    padding: 2px;
    display: none;
  }
}

.profileViewButton {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  text-decoration: none;
}
.DoctorsHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.serialNo {
  background-color: white;
}

.Filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.filterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background: #ca79c6;
  box-shadow: 0px 4px 15px 0px rgba(185, 178, 226, 0.64);
}
.filterDiv img {
  width: 15px;
  height: 15px;
}
.doctorsFilter {
  width: 200px;
  height: 30px;
  margin: 10px;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
}
